* {
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

.main {
    width: 300px;
    align-self: center;
}

.display {
    width: 100%;
    background-color: darkGrey;
    height: 48px;
}

#prevDisplay {
    font-size: 16px;
    display: flex;
    justify-content: flex-end;    
}

#currentDisplay {
    font-size: 32px;
    display: flex;
    justify-content: flex-end;
}

#zero {
    flex-grow: 1;
}

.buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
}

.buttons button {
    flex-basis: 25%;
    font-size: 32px;
}

.header {
    font-size: xx-large;
    font-weight: bold;
    margin-top: -25px;
    margin-bottom: -20px;
}

.footer{
    margin-top: auto;
    font-size: x-large;
}